.card:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.3);
    background-color: white;
    transform: scale(1.03);
}

.btn-facebook {
    align-items: center;
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 31.5px;
    padding: 0px 15px;
}

.btn-read{
 background-image: linear-gradient(109.6deg, rgba(61, 245, 167, 1) 11.2%, rgba(9, 111, 224, 1) 91.1%);
    border: none;
}

.btn-facebook:hover {
    color: #ffffff;
}

.footer {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer p {
    margin-top: 20px;
    margin-left: 22px;
    font-size: 20px;
}

.footer h6 {
    margin-top: 40px;
    text-align: center;
}

.title {
    margin-left: 580px;
    text-decoration: none;
    font-size: 18px;
}