{% block content %}
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
<a href="{% url 'blog:all_blogs' %}"> blog</a>
{%}