{%block content %}
<div class="container h-auto py-5">
    <div class="row h-100 py-3">
        <div class="row">
            <div class="col-lg-4 img-pro aos-init aos-animate" data-aos="fade-right">
                {%load static%}
                <img src="{% static 'image/anh.jpg' %}" class="img-intro" alt="" />
            </div>
            <div class="col-lg-8 pt-4 fullname pt-lg-0 content aos-init aos-animate" data-aos="fade-left">
                <p class="fst-italic" style="text-align: justify;">
                    Tôi tên đầy đủ là Trần Nhật Thịnh, hay mọi người còn gọi tôi với một tên khác là Bom. Bom là tên mà ông nội tôi đã đặt cho tôi vì tôi nghe bố mẹ tôi kể lại nhà nội tôi có cây táo trong vườn mà người Huế thường gọi là cây bom, khi nào cây ra quả thì nội tôi sẽ hái vào để cắt ăn. Tôi hồi nhỏ biết gì đâu cứ nghe bố mẹ kể tôi bao nhiêu bom cũng có thể ăn được. Thấy tôi thích ăn bom như vậy nên ông tôi đặt tên tôi ở nhà là Bom luôn
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Ngày sinh:</strong> <span>16/12/2000</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Số điện thoại:</strong> <span>+84 0794161220</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Quê quán: </strong>
                                <span>Thừa Thiên Huế</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="fas fa-chevron-right"></i> <strong>Tuổi:</strong>
                                <span>21</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Email:</strong>
                                <span>thinhtran.nhat1612@gmail.com</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Trình độ học vấn:</strong> <span>Đại học</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="description" style="text-align: justify;">
                    Ngoài những thông tin cơ bản trên, thì tôi còn là một người khá là
                    hòa đồng, tốt bụng, luôn vui vẻ với mọi người xung quanh, là người
                    có khiếu hài hước và rất dễ để làm quen, làm bạn với người khác.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}