{%block content %}
<div class="container h-auto py-5">
    <div class="row h-100 py-5">
        <div class="col-lg-6 d-none d-lg-block" data-aos="fade-left" data-aos-anchor="#example-anchor"
            data-aos-offset="650" data-aos-duration="650">
            {% load static %}
            <img width="450" height="450" src="{% static 'image/anh.jpg'%}" class="img-intro" />
        </div>
        <div class="col-lg-6 d-none d-lg-block" data-aos="fade-left" data-aos-anchor="#example-anchor"
            data-aos-offset="650" data-aos-duration="650">
            <div class="col-lg-3">
        <div class="fullname">
    <ion-icon name="accessibility-outline"> </ion-icon>
    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}