{%block content %}
<div class="container h-auto py-5">
    <div class="row h-100 py-5">
        <div class="row">
            <div class="col-lg-4 img-pro aos-init aos-animate" data-aos="fade-right">
                {%load static%}
                <img src="{% static 'image/anh.jpg' %}" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left">
                <p class="fst-italic" style="text-align: justify;">
                    Tôi là một sinh viên năm cuối ngành công nghệ thông tin tại Đại học Phú Xuân, với tinh thần mong
                    muốn được
                    thực tập tại công ty để được trải nghiệm môi trường làm việc chuyên nghiệp, cũng như được học hỏi
                    thêm nhiều
                    cái hay, nhiều điều mới mẻ để đúc kết kinh nghiệm làm việc cho sau này.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Ngày sinh:</strong> <span>16/12/2000</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Số điện thoại:</strong> <span>+84 0794161220</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Quê quán: </strong>
                                <span>Thừa Thiên Huế</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="fas fa-chevron-right"></i> <strong>Tuổi:</strong>
                                <span>21</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Email:</strong>
                                <span>thinhtran.nhat1612@gmail.com</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Trình độ học vấn:</strong> <span>Đại học</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="description" style="text-align: justify;">
                    Ngoài những thông tin cơ bản trên, thì tôi còn là một người khá là
                    hòa đồng, tốt bụng, luôn vui vẻ với mọi người xung quanh, là người
                    có khiếu hài hước và rất dễ để làm quen, làm bạn với người khác.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}