{%block content %}
<div class="container h-auto py-5">
    <div class="row h-100 py-3">
        <div class="row">
            <div class="col-lg-4 img-pro aos-init aos-animate" data-aos="fade-right">
                {%load static%}
                <img src="{% static 'image/anh.jpg' %}" class="img-intro" alt="" />
            </div>
            <div class="col-lg-8 pt-4 fullname pt-lg-0 content aos-init aos-animate" data-aos="fade-left">
                <p class="intro-title" style="text-align: justify;">
                    Xin chào, tôi tên đầy đủ là <b class="name">Trần Nhật Thịnh</b> hay mọi người còn gọi tôi với một
                    tên khác là
                    <b class="nickname">Bom</b>. Bom là
                    tên mà ông nội tôi đã đặt cho tôi vì tôi nghe bố mẹ tôi kể lại nhà nội tôi có cây táo trong vườn mà
                    người Huế thường gọi là cây bom, khi nào cây ra quả thì nội tôi sẽ hái vào để cắt ăn. Tôi hồi nhỏ
                    biết gì đâu cứ nghe bố mẹ kể tôi bao nhiêu bom cũng có thể ăn được. Thấy tôi thích ăn bom như vậy
                    nên ông tôi đặt tên tôi ở nhà là Bom.
                </p>
                <div class="row">
                    <div class="col-lg-6 info-yourself">
                        <ul>
                            <li>
                                <ion-icon name="calendar-outline"></ion-icon>
                                <strong>Ngày sinh:</strong> <span>16/12/2000</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Số điện thoại:</strong> <span>+84 0794161220</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Quê quán: </strong>
                                <span>Thừa Thiên Huế</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 info-yourself">
                        <ul>
                            <li>
                                <i class="fas fa-chevron-right"></i> <strong>Tuổi:</strong>
                                <span>21</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Email:</strong>
                                <span>thinhtran.nhat1612@gmail.com</span>
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <strong>Đang học tập tại:</strong> <span><b class="name2"><a
                                            href="https://phuxuan.edu.vn/">Đại học Phú Xuân</a></b></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="description" style="text-align: justify;">
                    Tôi là một người thích có thêm nhiều người bạn mới, vì vậy đừng ngần ngại gửi lời mới kết bạn <b
                        class="name1"><a href="https://www.facebook.com/thinh.tran.90663894">Facebook</a></b> đến cho
                    tôi nhé, biết đâu
                    chúng ta hợp nhau
                    thì sao!
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}