 {% block footer %}
 <div class="footer container-fluid">
     <div class="row">
         <div class="col-4" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
             <p style="color: #1dc7e7;
                    display:inline;
                    font-size:15px;
                    font-weight:700;
                    line-height:18.75px;
                    text-transform:uppercase;">
                 Mọi thông tin liên hệ với tôi qua</p>
             <p> <i class="far fa-envelope"></i>
                 phanthituyngoc1995@gmail.com </p>
             <p> <i class="fab fa-facebook-square"></i>
                 Trần Thịnh </p>
             <p> <i class="fab fa-instagram"></i>
                 thinh.tran.90663894 </p>
         </div>
         <div class="col-4" >
             <p style="color: #1dc7e7;
display:inline;
font-size:15px;
font-weight:700;
line-height:18.75px;
text-transform:uppercase;"> Thông tin về tôi</p>
             <p> <i class="fas fa-search-location"></i>
                 Thừa Thiên Huế, Việt Nam </p>
             <p> <i class="fas fa-phone-alt"></i>
                 0794161220 </p>
             <p> <i class="fas fa-university"></i>
                 Sinh viên năm 3 đang học tại ĐH Phú Xuân - Huế </p>
         </div>
         <div class="col-4">
             <p style="color: #1dc7e7;
display:inline;
font-size:15px;
font-weight:700;
line-height:18.75px;
text-transform:uppercase;"> Thông điệp tôi muốn gửi cho bạn</p>
             <p style="text-align:justify;">"Sự khác biệt giữa những người thành công và những người thất bại ko phải
                 là ở sức mạnh, kiến thức hay sự hiểu biết – mà chính là ở ý chí."
             </p>
         </div>
     </div>
     <div class="col-12">
         <h6> Copyright@2021: TranNhatThinh</h6>
     </div>
 </div>
 {% endblock %}