{% block sidebar %}
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Lời nói đầu</h5>
        <div class="card-body">
            <p class="card-text content"> Xin chào, tôi là Thịnh hay mọi người còn gọi tôi một tên khác là Bom. Tôi tạo blog này vào ngày thứ 7 ngày 14 tháng 11 năm 2021. Đây
                là nơi tôi sẽ chia sẻ những gì tôi học được trong ngành CNTT này, cùng với những kiến thức bổ ích mà tôi se!</p>
            <a href="https://www.facebook.com/thinh.tran.90663894" class="btn btn-facebook">Facebook của tôi</a>
        </div>
    </div>
</div>

{% endblock sidebar %}