{% block sidebar %}
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Giới thiệu về tôi nhé!</h5>
        <div class="card-body">
            <p class="card-text"> Xin chào, tôi là Thịnh hay mọi người còn gọi tôi một tên khác là Bom. Tôi tạo blog này vào ngày thứ 7 ngày 14 tháng 11 năm 2021. Đây
                là nơi tôi ghi chép lại những suy nghĩ vớ vẩn, những cảm nhận trong cuộc sống và những câu chuyện mà tôi đã từng trải qua>/p>
            <a href="https://bekbrace.com" class="btn btn-danger">Visit Website!</a>
            <a href="https://docs.djangoproject.com/en/3.1/" class="btn btn-secondary">Django Docs</a>
        </div>
    </div>
</div>

{% endblock sidebar %}